*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}



header nav
{
    width:100%
}
ul
{
    display:flex;
    width:100%;
    justify-content: space-around;
    background-color: rgb(104, 103, 103);


}

nav ul button
{
    border:none;
    background-color:rgb(104, 103, 103);
    color:white;
    padding:10px
}

#searchFeld
{
    display:none;
    width:90%;
    margin:5px auto;
    background-color: rgb(143, 138, 138);
    color:white;
    padding:2px;
    opacity:0.9;

}

.productLabel
{
    height:100px;
    width:100px;
    border:4px solid black;
    border-radius: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin:8px 8px;
    background-color: rgb(20, 20, 20);
    color:white;
    font-weight: bolder;
}

.productLabel:hover
{
    background-color: orangered;
}

#container
{
    display:flex;
    flex-wrap: wrap;
    justify-content:left;
    width:90%;
    
    margin:20px auto;


}

body
{
    background-image: url("gusto-main-logo-black-1525264331.png");
}

#printedLabel
{
    display:none;
    width:300px;
    height:300px;
    border:1px solid black;
    margin:auto auto;
    padding:5px;
    color:white;
    border-radius: 15px;
}

#printedLabel p
{
    margin:5px
}
.flex
{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#printedLabel div
{
    margin:20px auto;
}

#expiredDay
{
    font-size:30px;
    font-weight: bold;
    margin:5px auto;
}

#productName, #expiredDay
{
    text-align:center;
}

#user
{
    margin:auto auto;
    width:150px;
}


#selectUsers
{
    margin:5px auto;
    color:white;
    border: none;
    font-size:15px;
    display:inline-block
}

nav ul button:hover
{
    background-color:black
}

#newUser
{
    display:none;
    width:40px;
    padding:10px;
}

#userIdLabel
{
    margin:auto auto;
}

#print
{
    display:block;
    margin:20px auto;
    width:100px;
    text-align:center;
    background-color: orangered;
    color:white;
    padding:5px;
    display:none
}