*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
header nav
{
    width:100%
}
ul
{
    display:flex;
    width:100%;
    justify-content: space-around;
    background-color: rgb(104, 103, 103);


}

nav ul button
{
    border:none;
    background-color:rgb(104, 103, 103);
    color:white;
    padding:10px
}

#searchFeld
{
    display:none;
    width:90%;
    margin:5px auto;
    background-color: rgb(143, 138, 138);
    color:white;
    padding:2px
}

.productLabel
{
    height:80px;
    width:80px;
    border:4px solid black;
    border-radius: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin:5px 5px;
}

#container
{
    display:flex;
    flex-wrap: wrap;
    justify-content:left;
    width:90%;
    
    margin:20px auto;
    background-image: url("gusto-main-logo-black-1525264331.png");

}

body
{
    background-image: url("gusto-main-logo-black-1525264331.png");
}

#printedLabel
{
    display:none;
    width:300px;
    height:300px;
    border:1px solid black;
    margin:auto auto;
    padding:5px;
    color:white;
    border-radius: 15px;
}

#printedLabel p
{
    margin:5px
}
.flex
{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#printedLabel div
{
    margin:20px auto;
}

#expiredDay
{
    font-size:30px;
    font-weight: bold;
    margin:5px auto;
}

#productName, #expiredDay
{
    text-align:center;
}

#user
{
    margin:auto auto;
    width:150px;
}


#selectUsers
{
    margin:5px auto;
    color:white;
    border: none;
    font-size:15px;
    display:inline-block
}

nav ul button:hover
{
    background-color:black
}

#newUser
{
    display:none;
    width:40px;
}

#userIdLabel
{
    margin:auto auto;
}